//colors
$color-primary: #295bff;
$color-secondary: #fd2121;

$color-black: #000;
$color-black-light: rgb(12, 12, 12);

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-light: #eee;

$color-white: #fff;
$color-grey-light-1: #f7f7f7;

//font sizes
$default-font-size: 1.6rem;
$large-font-size: 2rem;
$default-font-weight: 400;
