.search {
  height: 3rem;
  width: 25%;
  background-color: $color-white;
  border-radius: 3px;
  display: flex;
  align-items: center;

  &__button {
    height: 100%;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-white;
    border: none;

    &:hover {
      background-color: rgb(219, 219, 219);
      transition: all 0.2s;
    }

    &__icon {
      height: 50%;
      width: 50%;
    }
  }

  &__field {
    border: none;
    height: 100%;
    width: 90%;
  }
}
